html,
body {
    height: 100%;
    padding: 0;
    padding-top: 30px;
    font-size: 12px;
}

p {
    font-family: "Lato";
    color: #6D7993;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 180%;
}

.title {
    font-weight: 600;
    color: #373737;
    font-size: 1.7em;
}

.home {
    width: 60vw;
}

.home-container {
    padding: 0px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .info-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.color-bar {
    height: 1.5rem;
    width: 0.25rem;
    margin-right: 0.5rem;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    color: #Eac67a
}

.heading {
    font-weight: 600;
}

#hello-wrapper {
    width: 20vw;
}

.hello {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: write 2.5s ease-in 1 forwards;
}

.about-pic-container,
.project-pic {
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-pic {}

.about,
.projects {
    width: 95vw;
}

p.bio,
p.description {
    text-align: justify;
}

.project-container {}

.project-pic {}

@keyframes write {
    to {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 576px) {
    body {
        padding-top: 50px;
    }
    #hello-wrapper {
        width: 10vw;
    }
    .home {
        width: 40vw;
    }
    .about,
    .projects {
        width: 80vw;
    }
}

@media (min-width: 768px) {
    .home {
        width: 30vw;
    }
    .about,
    .projects {
        width: 60vw;
    }
}

@media (min-width: 992px) {
    .home {
        width: 20vw;
    }
    .about,
    .projects {
        width: 50vw;
    }
}